/*******************************************
*
* Global
*
********************************************/

body {
	font-size: 1.5em;
}

/*******************************************
*
* Header
*
********************************************/

header {
	padding: 1em;
	text-align: center;

-moz-box-shadow: 0px 5px 30px #ccc;
-webkit-box-shadow: 0px 5px 30px #ccc;
box-shadow: 0px 5px 30px #ccc;

}

header h1 a,
header h1 a:hover {
	font-family: 'Alike', serif;
	color: #000;
	text-decoration: none;
	font-size: 1.5em;
}

header nav {
	margin-top: 0.5em;
}

header nav li {
	display: inline-block;
}

header nav a {
	color: #b22;
	padding-left: 1em;
}

header nav li:first-child a {
	border-right: 2px solid #ccc;
	padding-right: 1em;
}

/*******************************************
*
* Main content
*
********************************************/

.main {
	max-width: 900px;
	margin: 0 auto;
	padding: 2em;

}

.main table {
	border-collapse: collapse;
}

.main table td {
	border: 1px solid #000;
	padding: 1em;
	vertical-align: top;
}

.main h1 {
	font-family: 'Alike', serif;
	font-size: 2em;
	line-height: 1em;
	padding-bottom: 0.5em;
}

.main h2 {
	font-family: 'Alike', serif;
	font-size: 1.6em;
	padding-bottom: 0.5em;
}

.main h3 {
	font-family: 'Alike', serif;
	font-size: 1.3em;
	padding-bottom: 0.5em;
}

.main a {
	color: #b22
}

.main p {
	padding-bottom: 1.5em;
}

.main ul li {
	padding-bottom: 0.3em;
}

/*******************************************
*
* Home
*
********************************************/

.main section.chapter {
	padding-bottom: 2em;
}

/*******************************************
*
* Footer
*
********************************************/

footer {

	padding: 2em;
	color: #fff;
	text-align: center;
	
background: rgb(0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 );
background: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);

}

footer a {
	color: #fff;
}

