<!DOCTYPE html>
<html>
<head>
	
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="assets/styles/reset.css">
	<link rel="stylesheet" href="assets/styles/main.css">
	<!--  
	<link rel="stylesheet" href="assets/styles/syntax.css">
	-->
	<link href='http://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>
	
	
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
<div id="container">

<header>
	<h1><a href="index.html">Object Oriented ColdFusion</a></h1>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
</header>

<div class="main">
	{{ content }}
</div>

<footer>
	&copy; Copyright 2009 - 2011 <a href="http://www.webcode.com.au">Kevan Stannard</a>
</footer>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9750688-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
